:root {
  --gray-main: rgba(137, 137, 137, 1);
  --white: rgba(255, 255, 255, 1);
  --purple-main: rgba(110, 86, 224, 1);
  --yellow-main: rgba(255, 217, 40, 1);
  --black-main: rgba(21, 21, 21, 1);
  --gray-dark: rgba(39, 39, 39, 1);
  --purple-dark: rgba(69, 49, 163, 1);
  --gray-black: rgba(30, 30, 30, 1);
  --green-main: rgba(40, 138, 5, 1);
  --orange-main: rgba(255, 164, 36, 1);
  --danger: rgba(195, 53, 53, 1);
  --darkmodewhite: rgba(255, 255, 255, 0.65);
  --gray-gray-500: rgba(105, 115, 134, 1);
  --regular-small-font-family: "Inter", Helvetica;
  --regular-small-font-weight: 500;
  --regular-small-font-size: 14px;
  --regular-small-letter-spacing: 0px;
  --regular-small-line-height: 20px;
  --regular-small-font-style: normal;
  --shadow-1dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-3dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-2dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-4dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-6dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-8dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-9dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-12dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-16dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-24dp: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
